.container {
  width: 800px;
  height: 400px;
  background-color: rgb(85, 113, 189, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  border: 0px;
  border-radius: 20px;
  padding: 25px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.text_h2 {
  color: rgb(54, 90, 207);
  font-size: 20px;
  margin: 0px;
}

h1 {
  font-size: 30px;
  margin: 0px;
}

h3{
  font-size: 13px;
}

.mini-text{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap:15px;
}

.regestration{
  width: 500px;
  height: 350px;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
}

.input{
  width: 400px;
  height: 50px;
  border-radius: 20px;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label{
  color: gray;
}

.checkbox{
  margin: 20px 20px 20px 0px;
}

.button{
  width: 400px;
  height: 50px;
  background-color: rgb(123, 116, 190);
  padding: 10px;
  border: 0px;
  border-radius: 20px;
  color: white;
}